* {
  box-sizing: border-box;
}
p{
    font-family: 'Tomorrow';
color:#414141;
  text-align: center;

}
body {
  font: 16px Arial;  
  background-color: #121212;
}

/*the container must be positioned relative:*/
.autocomplete {
  width: 70%;
  position: relative;
  display: inline-block;
}

input {
  
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  /*serchbox background*/
  font-family: 'Tomorrow';
  color: #121212;
  background-color: #414141;
  width: 100%;
}

input[type=submit] {
    font-family: 'Tomorrow';

  background-color: #af0404;
  color: #121212;
  cursor: pointer;
}

.autocomplete-items {
  color: whitesmoke;
  position: absolute;
  border: 1px solid #414141;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
p{
  color: whitesmoke;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #414141; 
  border-bottom: 1px solid #000000; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #414141; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #5c000031 !important; 
  color: white; 
}

#parent {
   display: table;
   width: 100%;
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}
#search {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
 
}
#foot{
 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #af0404;
  color: white;
  text-align: center;
}
h1{
  font-family: 'Tomorrow';
  color: #af0404;
  text-align: center;
  font-size: 8vw;
}